/* 
*{
    margin: 0;
    
} */
body{
    margin: auto 0;
    font-family: Arial;
}

html{
    scroll-behavior: smooth;
}
.zone {
    /*  padding: 30px 50px;
     margin: 40px 60px; */
    cursor:pointer;
    /* display:inline-block; */
    text-align: center;
    font-size:1.8em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}


/* Nav */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.main-nav {
    display: flex;
    list-style:none;
    font-size: 0.7em;
    margin: 0;

}

@media only screen and (max-width: 600px) {
    .main-nav{
        font-size: 0.5em;
        padding: 0;
    }
    
}

.last{
    margin-left:auto;
}

li {
    padding: 20px;
}

 a{
    color: #f5f5f6;
    text-decoration: none;
}

/* HOME */

.container {
    display: flex;
    flex-wrap: wrap;
    /* height: 55vh; */
/* 
    align-items: center;
    justify-content: center; */
    

}

.side {
    flex: 30%;
    padding: 20px;

   /*  align-self:center; */
}
.main {
    flex: 70%;
    padding: 10px;
   /*  align-self: center; */

}
.cover {
    width: 18rem;
    border-radius: 100%;
    margin-top: 40px;
    padding-top: 20px;


}
.btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:10px;
  margin-bottom: 25px;
  margin-top: 25px;
}
.large {
    font-size: 1em;
    letter-spacing: 0.025em;
}
h1 {
    font-size:1.25em;
    font-weight: 300;
    color: #888;
    line-height: 1.25em;
}
strong{
    font-weight:bold;
    color: #3e3e3e;
}

p{
    font-size: 1em;
    color: #888;
    line-height: 1em;

}

h2 strong{
    font-size: .700em;
    font-weight: 600;
    line-height: 1em;
    
}

@media only screen and (max-width: 700px){
    .container  {
       flex-direction: column;
       font-size: 0.8em;
       padding: 0;
       
    }
}
@media only screen and (max-width: 700px){
    .large {
        font-size:1.5em;
        letter-spacing:0;
        

    }
}
 @media only screen and (max-width: 700px){
    .btn {
        
        width: 70%;

    }
}

    


    
/* Projects */

.project {
    margin: 0 auto;
    text-align: center;
    
}

.grid-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.box.zone h3 {
    font-size: 0.5em;
    font-weight: 300;
    line-height: 1em;
    margin:0 0 .5em 0;
    
    cursor: pointer;
}
.box.zone img{
    width: 100%;
    height: 30vh;
}

.box{
 background-color: #444 ;
 padding: 30px;
 margin: 20px;
}

.box:hover {
    -webkit-transform:rotate(-7deg);
    -moz-transform:rotate(-7deg);
    -o-transform:rotate(-7deg);
    transform:rotate(-7deg);
}


header{
     margin:  3em 0 0 0;
}

h2{
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1em; 
    margin: 0 0 0.75em 0; 
}

h3{
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1em;
    margin: 0 0 2.5em 0;
    color: #888;

}

/* FOOTER */

/* contact */
.contact{
    display: flex;
    justify-content: space-between;
    
}

.message {
    flex: 30%;
    padding: 20px;  
    margin: 1em 0 0 0 ;
    

}

.form { 
    flex: 30%;
    padding: 20px;
    margin: 1em 0 0 0 ;


}
.form-style{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;

}

.form-textarea {
    min-width: 80%;
    resize: vertical;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

.btn-push{
    font-size: 0.7em;

}
.text{
    font-size: 0.em;
    line-height: 2em;
    text-align: left;
    padding-left: 80px;
    font-weight: 500;
    color: #FFF;
    letter-spacing: 0.5px;



}



@media only screen and (max-width: 750px){
    .contact {
       flex-direction: column;
      
    }
}

@media only screen and (max-width: 750px){
    .text{
       font-size: 0.7em;
      line-height: 1.5em;
      
    }
}


hr {
    border:0;
    border-top: 1px solid #fff;
    width: 60vw;

}

footer{
    color: #fff;
    padding: 0px;
}

h6{
    font-size: 0.5em;
    font-weight: 300;
}
/* https://paulund.co.uk/how-to-create-shiny-css-buttons */
/***********************************************************************
 *  Black Background
 **********************************************************************/
.black{
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
    background: linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green{
    background: #56B870; /* Old browsers */
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #56B870 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(top, #56B870 0%,#a5c956 100%); /* W3C */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

/***********************************************************************
 *  Purple Background
 **********************************************************************/
.purple {
    background: #A88BEB; /* Old browsers */
    background: -moz-linear-gradient(top, #A88BEB 0%, #F1A7F1 44%, #F8CEEC 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A88BEB), color-stop(44%,#F1A7F1), color-stop(100%,#F8CEEC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* IE10+ */
    background: linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* W3C */
}

/***********************************************************************
 *  Brown Background
 **********************************************************************/
.brown {
    background: #f6e6b4; /* Old browsers */
    background: -moz-linear-gradient(top, #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* IE10+ */
    background: linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}
