.button-container {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:10px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .primary{
    background-color: #4CAF50;
    font-size: 0.7em;
}
.primary:hover{
    opacity: 0.9;

}