.form-container{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    padding:15px;
    
}
.form-input{
        /* max-width: 80%; */
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #555;
        outline: none;
        border-radius: 5px;
    }
    .form-textarea{
        /* max-width: 80%; */
        resize: none;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #555;
        outline: none;
        border-radius: 5px;
    }
    